.env
*.pyc
/venv/
.DS_Store
prestaconta/contrapartida/__init__.py
prestaconta/contrapartida/admin.py
prestaconta/contrapartida/apps.py
prestaconta/contrapartida/migrations/
prestaconta/contrapartida/tests.py
prestaconta/db.sqlite3
prestaconta/manage.py
prestaconta/nohup.out
prestaconta/prestaconta/__init__.py
prestaconta/prestaconta/asgi.py
prestaconta/prestaconta/wsgi.py
prestaconta/static/db.sqlite3

