# Ignora tudo
*

# Exceto arquivos e diretórios específicos
!/.gitignore
!.github
!prestaconta\contrapartida\templates
!prestaconta\contrapartida\admin.py
!prestaconta\contrapartida\models.py
!prestaconta\contrapartida\tables.py
!prestaconta\contrapartida\urls.py
!prestaconta\contrapartida\views.py
!prestaconta\templates
!prestaconta\Dockerfile
!docker-compose.yml
!requirements.txt