{% extends "base.html" %}

{% block corpo %}
<div class="text-center">
<h2>Detalhes do Projeto: {{ projeto.nome }}</h2>

<table border="1" cellpadding="10" cellspacing="2" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Projeto</th>
            <th>Valor Total Contrapartida</th>
            <th>Número de Meses</th>
            <th>Valor Mensal Devido</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ projeto.nome }}</td>
            <td>R$ {{ projeto.contrapartida_max|floatformat:2 }}</td>
            <td>{{ projeto.num_mes }}</td>
            <td>R$ {{ mensal_devido|floatformat:2 }}</td>
            <td>{{ projeto.data_inicio|date:"d/m/Y" }}</td>
            <td>{{ projeto.data_fim|date:"d/m/Y" }}</td>
        </tr>
    </tbody>
</table>

<br>
<h3>Contrapartidas por Mês</h3>

<table border="1" cellpadding="10" cellspacing="2" style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Mês</th>
            <th>Equipamento</th>
            <th>Pesquisa</th>
            <th>SO</th>
            <th>Total</th>
            <th>Diferença</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for mes, valores in contrapartidas_por_mes.items %}
        <tr>
            <td>{{ mes }}</td>
            <td>R$ {{ valores.equipamento|floatformat:2 }}</td>
            <td>R$ {{ valores.pesquisa|floatformat:2 }}</td>
            <td>R$ {{ valores.so|floatformat:2 }}</td>
            <td>R$ {{ valores.total|floatformat:2 }}</td>
            <td>R$ {{ valores.diferenca|floatformat:2 }}</td>
            <td>RS {{ valores.saldo|floatformat:2}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhuma contrapartida encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}