{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Contrapartida RH</title>
</head>

{% block corpo %}

<body>
    <div class="container">
        <div class="text-center">
            {% if contrapartida_rh.id %}
            <h1>Atualizar Contrapartida Rh</h1>
            {% else %}
            <h1>Cadastrar Contrapartida Rh</h1>
            {% endif %}
            <form id="contrapartida-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row justify-content-center" style="line-height: 1;">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.id_projeto placeholder='' %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.id_salario placeholder='' %}
                    </div>
                </div>
                {% if contrapartida_rh.id %}
                <div class="row justify-content-center" style="line-height: 1;">
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.funcao placeholder='' %}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {% bootstrap_field form.horas_alocadas placeholder='' %}
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <label>Horas restantes:</label>
                        <input type="text" class="form-control" value="{{ horas_restantes }}" readonly>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button type="submit" name="action" value="update"
                            class="btn btn-warning mt-3">Atualizar</button>
                        <button type="submit" name="action" value="save_exit" class="btn btn-primary mt-3">Salvar e
                            Voltar</button>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'contrapartida_rh_delete' contrapartida_rh.id %}"
                            class="btn btn-danger mt-3">
                            Excluir
                        </a>
                    </div>
                </div>

                {% else %}

                <div class="row justify-content-center">
                    <div class="col-auto">

                        <button type="submit" class="btn btn-primary mt-3">Salvar e Continuar</button>
                    </div>
                </div>


                {% endif %}

            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}