{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!doctype html>
<html>

<head>
    <title>Excluir Pessoa</title>
</head>
{% block corpo %}
<body>
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
                <h3 class= mb-4">Excluir Pessoa</h3>
                <br>
                   <div >
                       <strong>Pessoa:</strong> {{ object.nome }}
                       <strong>Email:</strong>  {{ object.email }}

       
                   </div>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sim, exclua!</button> &nbsp;
                    <a href="{% url 'pessoa_menu' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </center>
        </div>
    </div>
</body>

</html>
{% endblock %}