{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load render_table from django_tables2 %}

{% block titulo %}Projetos{% endblock %}
{% block corpo %}
<form method="GET">
    <label for="id_nome">Nome do Projeto:</label>
    <input type="text" name="nome" id="id_nome" value="{{ filtros.nome }}">

    <label for="ano">Ano Fim:</label>
    <input type="int" name="ano" id="id_ano" value="{{ filtros.ano }}" style="width: 80px;">

    <label for="mes">Mês Fim:</label>
    <input type="int" name="mes" id="id_mes" value="{{ filtros.mes }}" style="width: 80px;"> 

    <button type="submit">Filtrar</button>
    <a href="{% url 'projeto_menu' %}">Limpar Filtros</a> 
</form>


<body>
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
            <h1>Projetos</h1>
            {% render_table table %}
            <br>
            <a href="{% url 'projeto_create' %}">
                <input type="button" class="btn btn-primary" value="Incluir novo projeto">
            </a>
            </center>
        </div>
    </div>
</body>
{% endblock %}