{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!doctype html>
<html>

<head>
    <title>Cadastro de Projetos</title>
</head>
{% block corpo %}

<body>
    <div class="container">
        <div class="text-center">
            <h1>Projetos</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row justify-content-center" style="line-height: 1;">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        {% bootstrap_field form.nome placeholder='Digite aqui o Nome' %}
                    </div>
                </div>

                <div class="row justify-content-center" style="line-height: 1;">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="id_data_inicio" class="form-label">Data de Início</label>
                        <input type="date" id="id_data_inicio" name="data_inicio" class="form-control"
                            value="{{ form.data_inicio.value|date:'Y-m-d' }}">
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label for="id_data_fim" class="form-label">Data de Fim</label>
                        <input type="date" id="id_data_fim" name="data_fim" class="form-control" required
                            value="{{ form.data_fim.value|date:'Y-m-d' }}">
                    </div>
                </div>
                <br>
                <div class="row justify-content-center" style="line-height: 1;">


                    <div class="col-md-4 col-sm-6 col-xs-12">
                        {% bootstrap_field form.valor placeholder='' %}
                    </div>



                    <div class="col-md-4 col-sm-6 col-xs-12">
                        {% bootstrap_field form.contrapartida_prometida placeholder='' %}
                    </div>
                </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
        </div>
    </div>
    </form>
    </div>
    </div>
</body>

</html>
{% endblock %}