{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load render_table from django_tables2 %}

{% block titulo %}Salário{% endblock %}
{% block corpo %}
<form method="GET">
    <label for="id_pesoa">Nome</label>
    <input type="text" name="nome" id="id_nome" value="{{ filtros.nome }}">

    <label for="ano">Ano Referencia:</label>
    <input type="int" name="ano" id="id_ano" value="{{ filtros.ano }}" style="width: 80px;"> <!-- Tamanho reduzido -->

    <label for="mes">Mes Referencia:</label>
    <input type="int" name="mes" id="id_mes" value="{{ filtros.mes }}" style="width: 80px;"> <!-- Tamanho reduzido -->

    <button type="submit">Filtrar</button>
    <a href="{% url 'salario_menu' %}">Limpar Filtros</a> <!-- Substitua pelo nome correto da URL -->
</form>




<body>
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
            <h1>Salário</h1>
            {% render_table table %}
            <br>
            <a href="{% url 'salario_create' %}">
                <input type="button" class="btn btn-primary" value="Incluir novo salário">
            </a>
            </center>
        </div>
    </div>
</body>
{% endblock %}
