{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!doctype html>
<html>

<head>
    <title>Prestação de Conta e Contrapartida</title>
</head>

<body>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <center>
            <p style="width:300px;">Prestação de Conta e Contrapartida</p>
            <div style="border-style: ridge; border-radius: 10px; width: 300px;">
                <br>
                <p>
                    <input type="text" name="username" class="border-top-0" placeholder="Usuário"
                        style="width:250px;">
                </p>
                <p>
                    <input type="password" name="password" class="border-top-0" placeholder="Senha"
                        style="width:250px;">
                </p>
                <p>
                    <input type="submit" value="Acessar" class="btn btn-info">
                </p>
            </div>
        </center>
    </form>
</body>

</html>