{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load render_table from django_tables2 %}

{% block corpo %}
<link rel="icon" href="https://ceia.ufg.br/favicon.ico" type="image/x-icon" />
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body">
                    <h2 class="text-center mb-4">Upload de Contracheques</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="pdf_files" class="form-label">Selecione os arquivos PDF</label>
                            <input type="file" name="pdf_files" id="pdf_files" accept="application/pdf" class="form-control" multiple required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
