<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang="pt-br">

<head>
    <title>
        {% block titulo %}{% endblock %}
    </title>
    <link rel="icon" href="https://ceia.ufg.br/favicon.ico" type="image/x-icon" />
</head>

<body>

    <div class="d-flex justify-content-center align-items-start">
        <div class="text-center mx-2">
            <a href="{% url 'projeto_menu' %}">
                <p>Projetos</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'equipamento_menu' %}">
                <p>Equipamentos</p>
            </a>
        </div>


        <div class="text-center mx-2">
            <a href="{% url 'pessoa_menu' %}">
                <p>Pessoas</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'salario_menu' %}">
                <p>Salários</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'upload_contracheque' %}">
                <p>Contracheques</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'verifica_contracheque' %}">
                <p>Verifica Contracheque</p>
            </a>
        </div>
        
        <div class="text-center mx-2">
            <a href="{% url 'contrapartida_pesquisa_menu' %}">
                <p>Contrapartida Pesquisa</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'contrapartida_rh_menu' %}">
                <p>Contrapartida Rh</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'contrapartida_equipamento_menu' %}">
                <p>Contrapartida Equipamentos</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'contrapartida_so_menu' %}">
                <p>Contrapartida SO</p>
            </a>
        </div>

        <!--div class="text-center mx-2">
            <a href="{% url 'projetos_semestre' %}">
                <p>Projetos Semestre</p>
            </a>
        </div-->

        <div class="text-center mx-2">
            <a href="{% url 'contrapartida_realizada_list' %}">
                <p>Contrapartida Realizada</p>
            </a>
        </div>
        
        <div class="text-center mx-2">
            <a href="{% url 'importar_csv' %}">
                <p>Importar CSV</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'declaracoes_menu' %}">
                <p>Gerar Declarações</p>
            </a>
        </div>

        <div class="text-center mx-2">
            <a href="{% url 'logout' %}">
                <p>Logout</p>
            </a>
        </div>


    </div>

<body>

    {% block corpo %}{% endblock %}

</body>
<center>
    <hr>
    <h3>{% block rodape %}{% endblock %}</h3>
    <h4>
        <p>Última atualização: {% now "d/m/Y H:i:s" %}</p>
        

    </h4>
</center>

</html>